.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.carouselContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.carouselSlide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 1;
}

.carouselSlide.active {
  opacity: 1;
  z-index: 2;
}

.carouselImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(0, 51, 102, 0.7) 0%,
    rgba(0, 102, 204, 0.6) 100%
  );
  z-index: 3;
}

